<app-cashier-header (selectChecksCashier)="showChecksCashier()"
                    (selectProductsCashier)="showProductsCashier()"
                    (selectClientsCashier)="showClientsCashier()"
                    (selectProfileCashier)="showProfileCashier()"
                    (selectStoreProductsCashier)="showStoreProductsCashier()"></app-cashier-header>

<div class="container" *ngIf="selectedHeaderOption==='profile'">
  <div class="row">
    <div class="col-md-8">
      <ul class="list-group">
        <li class="list-group-item">
          ID: {{idEmployee}};
        </li>
        <li class="list-group-item">
          Full name: {{emplFullName}};
        </li>
        <li class="list-group-item">
          Role: {{emplRole}};
        </li>
        <li class="list-group-item">
          Salary: {{salary}};
        </li>
        <li class="list-group-item">
          Date of birth: {{dateOfBirth}};
        </li>
        <li class="list-group-item">
          Date of start: {{dateOfStart}};
        </li>
        <li class="list-group-item">
          Phone number: {{phoneNumber}};
        </li>
        <li class="list-group-item">
          City: {{city}};
        </li>
        <li class="list-group-item">
          Street: {{street}};
        </li>
        <li class="list-group-item">
          ZipCode: {{zipCode}};
        </li>
      </ul>
    </div>
  </div>
</div>
<app-body *ngIf="selectedHeaderOption==='profile'" [menuItems]="[]"></app-body>
<app-body *ngIf="selectedHeaderOption==='products'" [menuItems]="['Show all products sorted by name', 'Search products by name', 'Search by category sorted by name']"></app-body>
<app-body *ngIf="selectedHeaderOption==='store_products'" [menuItems]="['Show all store products sorted by name', 'Show all promo products sorted by name/amount', 'Show all non-promo products sorted by name/amount', 'Get info by UPC']"></app-body>
<app-body *ngIf="selectedHeaderOption==='clients'" [menuItems]="['Add client', 'Edit client', 'Show all clients sorted by surname', 'Search clients by surname']"></app-body>
<app-body *ngIf="selectedHeaderOption==='checks'" [menuItems]="['Add check', 'Show today\'s checks', 'Show all checks in period of time', 'Show info of check by check number']"></app-body>

<!--<app-body *ngIf="selectedHeaderOption==='employees'"></app-body>-->
